<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% from 'macros.html' import load_header %}
    <title>{{ category.name }}</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    {{ load_header(get_user(request)) }}

    <div class="banner">
        <div class="banner-content">
            <h1>{{ category.name }}</h1>
            <p>{{ category.description }}</p>
        </div>
    </div>

    <main>
        <section class="category-topics">
            <h2>Topics in {{ category.name }}</h2>
            
            {% if topics %}
                <ul>
                    {% for topic in topics %}
                        <li>
                            <a href="/topics/{{ topic.id }}">{{ topic.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No topics available in this category.</p>
            {% endif %}
        </section>
    
        {% if get_user(request) %}
            {% if not category.locked %}
            <div class="create-topic-wrapper">
                <form action="/categories/{{ category.id }}/topics" method="post" class="create-topic">
                    <input type="text" name="topic_name" placeholder="Topic Name" required>
                    <input type="hidden" name="category_id" value="{{ category.id }}">
                    <input type="hidden" name="author_id" value="{{ get_user(request).id }}">
                    <input type="hidden" name="token" value="{{ request.cookies.get('token') }}">
                    <button type="submit">Create Topic</button>
                </form>
            </div>
            {% else %}
                <p>This category is locked and cannot accept new topics.</p>
            {% endif %}
        {% endif %}
    </main>
    

    <footer>
        <p>&copy; 2024 Your Forum</p>
    </footer>

</body>
</html>