<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% from 'macros.html' import load_header,load_categories %}
    <title>Forum Template</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>

    {{ load_header(get_user(request)) }}
    <div class="banner">
        <div class="banner-content">
            <h1>Forum</h1>
            <p>Where Ideas Take Shape and Discussions Thrive
            </p>
        </div>
    </div>

    <main>
        {{ load_categories(categories) }}
    </main>

    <footer>
        <p>&copy; 2024 Your Forum</p>
    </footer>
</body>
</html>
