<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% from 'macros.html' import load_header,load_categories %}
    <title>Forum</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>

    {{ load_header(get_user(request)) }}
    <div class="banner">
        <div class="banner-content">
            <h1>ChatterBox</h1>
            <p>Where Ideas Take Shape and Discussions Thrive
            </p>
        </div>
    </div>
      
    <div class="introduction">
        <h2>Welcome to Our Forum!</h2>
        <p>
          This forum is a place for open discussions, where ideas take shape and conversations thrive. 
          Whether you're here to learn, share, or just connect with others, you'll find topics that match your interests.
        </p>
        <p><strong>Guidelines:</strong> Please be respectful, stay on topic, and follow our community guidelines. Enjoy your time here!</p>
    </div>

    <div class="featured-categories">
        <h2>Featured Categories</h2>
        <div class="category-cards">
          <!-- Example of a Featured Category Card -->
          <div class="category-card">
            <i class="icon">💬</i>
            <h3>General Discussion</h3>
            <p>A space for general conversations and community bonding.</p>
            <a href="/categories/1" class="btn">Explore</a>
          </div>
          <div class="category-card">
            <i class="icon">💻</i>
            <h3>Tech Talk</h3>
            <p>Discuss the latest in technology, from gadgets to software trends.</p>
            <a href="/categories/2" class="btn">Explore</a>
          </div>
            <div class="category-card">
                <i class="icon">🎮</i>
                <h3>Gaming</h3>
                <p>
                    Dive into the world of gaming, from console to PC gaming and everything in between.
                </p>
                <a href="/categories/3" class="btn">Explore</a>
        </div>
      </div>
      
    <main>
        
    </main>

    <footer>
        <p>&copy; 2024 Your Forum</p>
    </footer>
</body>
</html>
