<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    {% macro load_header(user = None) %}
    <header>
        <div class="navbar">
            <a class="logo" href="/">Your Logo</a>
            <nav>
                <a href="/">Home</a>
                <a href="/categories">Categories</a>
                <a href="/about">About</a>
                {% if not user %}
                    <a href="/users/login">Login</a>
                    <a href="/users/register">Register</a>
                {% else %}
                    <a href="/" class="nav-item">Hello, {{ user.username }}</a>
                    <form action="/users/logout" method="post" style="display: inline;">
                        <button class="cta-button" type="submit">Logout</button>
                    </form>
                {% endif %}
            </nav>
        </div>
    </header>

    {% endmacro %}

    {% macro load_categories(categories) %}
    <section class="forum-list">
        <div class="forum-header">
            <span>Categories</span>
        </div>
        
        {% for category in categories %}
        <div class="forum-item">
            <div class="forum-info">
                <!-- Link to single-category.html with the category ID as a parameter -->
                <h2>
                    <a href="/categories/{{ category.id }}">{{ category.name }}</a>
                </h2>
                <p>{{ category.description }}</p>
            </div>
        </div>
        {% endfor %}
    </section>
    {% endmacro %}



    <header>
        <div class="">
</body>
</html>